ConnectionStrings__DefaultConnection=

Jwt__Key=
Jwt__Issuer=SalesManagementSystem
Jwt__Audience=SalesManagementSystemUsers
Jwt__ExpireMinutes=30

Resend__ApiKey=

Email__AdminEmail=

SuperAdmin__Username=
SuperAdmin__Password=
SuperAdmin__Email=